<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
    <test name="Pixel_5">
        <parameter name="platformName" value="Android" />
        <parameter name="platformVersion" value="13.0" />
        <parameter name="deviceName" value="Pixel_5" />
        <parameter name="udid" value="emulator-5554" />
        <classes>
            <class name="com.itkhanz.tests.LoginTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->